[submodule "vendor/mongodb"]
	path = vendor/mongodb
	url = git://github.com/doctrine/mongodb.git
[submodule "vendor/silex-extension"]
	path = vendor/silex-extension
	url = git://github.com/fate/Silex-Extensions.git 
