<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ app_css }}">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>You're on your way to creating an amazing Web app that we all might use some day. Go forth and REST up and prepare (your queries) for a journey of development!</p>
  </body>
</html>
